<launch>
  
  <arg name="extrinsics"
       default="$(find abot_description)/config/extrinsics_lidar_cam.npz"/>

  <node pkg="abot_description"
        type="new2_py.py"
        name="new2_py"
        output="screen">
    <param name="extrinsics_file" value="$(arg extrinsics)"/>
  </node>


  <node pkg="rviz" type="rviz" name="rviz" output="screen"
        args="">

  </node>
</launch>